a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
}

a {
    font-family: 'Arial';
    color: black;
}

p {
    font-family: 'Arial';
}


p {
    margin-top: 20px;
    margin-right: 150px;
    margin-left: 20px;
}