a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: underline;
}

a {
    font-family: Arial;
  }
